<div
  id="show_alert"
  class="w-full h-screen hidden flex-col z-10 absolute items-center ease-in duration-150"
>
  <div
    class="w-1/4 alert_message bg-green-400 text-center p-5 rounded shadow mt-10 text-white"
  >
    <h1 id="alertText" class="drop-shadow"></h1>
  </div>
</div>
