<div
  id="update_product"
  class="w-full h-screen hidden flex-col z-10 absolute justify-center items-center ease-in duration-150"
>
  <div class="layer bg-black opacity-20 w-full h-full absolute"></div>
  <!-- form holder -->
  <div
    class="form_holder w-11/12 md:w-1/2 bg-white z-20 shadow py-2 px-3 rounded"
  >
    <!-- title and hide form -->
    <div
      class="title_and_cancelBtn flex items-center justify-between border-b border-slate-100 py-1"
    >
      <h1 class="font-medium">Update Product</h1>
      <ion-icon
        name="close-outline"
        id="close_update_product"
        class="cursor-pointer text-[18px] p-3 hover:bg-slate-100 hover:rounded-full ease-in duration-150"
      ></ion-icon>
    </div>
    <!-- the form -->
    <form id="update_product_form" class="my-5" enctype="multipart/form-data">
      <!-- row_one -->
      <div class="row_one flex flex-col sm:flex-row gap-5 my-5">
        <!-- column one -->
        <div class="column_one md:w-1/2">
          <div class="form_controll_category w-full mb-5">
            <input
              type="text"
              class="w-full outline-none border px-3 py-1 border-slate-300 rounded"
              placeholder="product name"
              name="product_name"
              id="product_name_update"
              required
            />
          </div>
          <div class="form_controll_category w-full mb-3">
            <input
              type="text"
              class="w-full outline-none border px-3 py-1 border-slate-300 rounded"
              placeholder="Price"
              name="price"
              id="product_price_update"
              required
            />
          </div>
          <!-- category id -->
          <% if(categoryList.length !== 0){ %>

          <label for="category_id" class="text-[14px] font-medium text-gray-500"
            >Select Category</label
          ><select
            name="category_id"
            class="w-full outline-none border py-1 border-slate-300 rounded mb-5"
          >
            <% categoryList.forEach(c=>{ %>
            <option value="<%= c.id %>"><%=c.catergory_name%></option>
            <% }) %>
          </select>
          <% } else{%>

          <h1 class="text-[12px] text-red-500 py-2 capitalize">
            there is no category available plase make one
          </h1>
          <% } %>

          <!-- product type -->
          <% if(proTypeList.length !== 0){ %>

          <label for="category_id" class="text-[14px] font-medium text-gray-500"
            >Select Product Type</label
          ><select
            name="ProdType_id"
            class="w-full outline-none border py-1 border-slate-300 rounded mb-5"
          >
            <% proTypeList.forEach(c=>{ %>
            <option value="<%= c.id %>"><%=c.type_name%></option>
            <% }) %>
          </select>
          <% } else{%>

          <h1 class="text-[12px] text-red-500 py-2 capitalize">
            there is no Product type available available plase make one
          </h1>
          <% } %>
          <input
            type="submit"
            class="px-3 py-1 border border-slate-300 hover:bg-slate-800 hover:text-white rounded-[3px] cursor-pointer ease-in duration-150 hidden md:block mt-5"
          />
        </div>
        <!-- column two -->
        <div class="column_two md:w-1/2">
          <textarea
            name="description"
            class="w-full h-[120px] outline-none border py-1 px-2 text-[14px] border-slate-300 rounded"
            placeholder="Enter Product Description"
            id="Product_Description"
            required
          ></textarea>
          <!-- images list -->
          <div class="images_list">
            <!-- cover image -->
            <div class="image_group flex flex-col">
              <label for="coverImage" class="text-[14px]">Cover image:</label>
              <input
                type="file"
                accept="image"
                required
                class="text-[14px]"
                name="CoverImage"
              />
            </div>
            <h1 class="text-gray-500 mt-3">Additional images</h1>
            <hr />
            <!-- imageOne -->
            <div class="image_group flex flex-col mt-3">
              <label for="imageTwo" class="text-[14px]">Images Two</label>
              <input
                type="file"
                accept="image"
                class="text-[14px]"
                name="imageTwo"
                required
              />
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
